@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Bebas+Neue&family=Cookie&family=Courgette&family=Explora&family=Italianno&family=Orbitron:wght@400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&family=Supermercado+One&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kurenaido&display=swap');

:root{
    --ff-landing-title-bebas: 'Bebas Neue', cursive;
    --ff-body-palandquin: 'Palanquin', sans-serif;
    --ff-body-poppins: 'Poppins', sans-serif;
    --ff-body-saira: 'Saira Semi Condensed', sans-serif;
    --ff-fancy-body-bad-script: 'Bad Script', cursive;
    --ff-fancy-body-courgette: 'Courgette', cursive;
    --ff-fancy-body-title: 'Cookie', cursive;

    --ff-landing-title-oxanium: 'Oxanium', cursive;
    --ff-landing-title-orbitron: 'Orbitron', sans-serif;
    --primary-color: #eeeee4;
    --secondary-color: wheat;
    --primary-bg-color: rgba(0, 0, 0, 1);
    --secondary-bg-color: rgba(0, 0, 0, 0.7);
    --gray-color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin position-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body{
    overflow-x: hidden;
}

.container{
    // background-image: url('/new_york.jpg');
    background-image: url('new_york.jpg');
    // background-image: url('/https://github.com/Otavie/github_images/blob/main/new_york.jpg');
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    height: 150px;
    line-height: 150px;
    width: 100%;
    background: linear-gradient(180deg, rgb(117, 85, 16), rgba(117, 85, 16, 0.75), rgba(117, 85, 16, 0.5), rgba(0117, 85, 16, 0));
    background: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0117, 85, 16, 0));
    h1{
        font-family: var(--ff-fancy-body-bad-script);
        text-align: center;
        font-weight: 800;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        text-shadow: 2px 2px 2px rgba(255, 250, 250, 0.3);
        letter-spacing: 2px;
        text-indent: 2px;
        margin-bottom: 200px;
        color: var(--primary-color);
        font-size: 1.75rem;
    }
}

.inner-container{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: inherit;
    border: 2px solid black;
    border: 2px solid gray;
    border: 2px solid var(--secondary-color);
}

.logo{
    height: 35px;
    width: auto;
}

main{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    min-height: calc(100vh - 170px - 2.5rem);
    color: var(--primary-color);
    font-family: var(--ff-body-poppins);
    font-weight: 200;
}

.search-container{
    height: 150px;
    width: 100%;
    @include flex-center;
    flex-direction: column;   
    justify-content: space-evenly;
}

.search{
    font-size: 1.05rem;
    height: 3rem;
    width: 70vw;
    padding: 2px 12px;
    font-family: var(--ff-body-poppins);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border-radius: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid wheat;
    font-weight: 300;
    transition: width 500ms ease-in-out, background-color 750ms ease-in-out;    
}

.search:hover{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.search-button{
    padding: 0.9rem 5rem;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--secondary-color);
    background-color: rgb(0, 0, 0);
    font-family: var(--ff-landing-title-oxanium);
    transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

.search-button:hover{
    color: var(--primary-bg-color);
    background-color: var(--secondary-color);
}

.search::placeholder{
    font-weight: 200;
    color: rgba(245, 222, 179, 1);
}

.weather-results{
    border-radius: 20px;
    width: 95%;
    padding: 2%;
    text-align: center;
    text-align: left;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: 1px 0px 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 500ms ease-in-out;
    display: none;
}

.city-temp-time-date{
    padding: 0.25rem;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    display: none;
}

.city-temp-time-date.show{
    @include flex-center;
    flex-direction: column;
}

.temp-options{
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 1rem;

    p {
        font-family: var(--ff-landing-title-orbitron);
        font-weight: 600;
        color: var(--secondary-color);

        input{
            cursor: pointer;
            height: 1rem;
            width: 1rem;
            appearance: none;
            border-radius: 50%;
            border: 2px solid var(--secondary-color);
        }

        input:checked{
            background-color: red;
        }

    }
}

.temp-city,
.time-date{
    width: 100%;
    height: inherit;
    @include flex-center;
    justify-content: space-around;
    font-family: var(--ff-landing-title-oxanium);
    font-weight: bolder;
}

.temp-city{
    font-weight: 500;
    font-family: var(--ff-landing-title-orbitron);
    margin-bottom: 1rem;
    .temp_c,
    .temp_f{
        font-size: 2.5rem;
    }

    .city{
        font-size: 1.5rem;
    }
}

.temp_f{
    display: none;
}


.weather-details{
    margin-bottom: 1.5rem;
    width: 100%;
    @include flex-center;
    flex-direction: column;
    transition: width 500ms ease-in-out;
    display: none;
    p{
        width: 100%;
        line-height: 2rem;
        font-weight: 400;
        color: var(--secondary-color);
        font-size: 1.05rem;
    }

    .property{
        margin-left: 5%;
        width: 49%;
    }

    .value{
        float: right;
        text-align: right;
        margin-right: 5%;
    }
}

.local-time,
.local-date{
    font-weight: 400;
    font-size: 1.15rem;
}

.null-input,
.invalid-location{
    display: none;

    p{
        color: var(--secondary-color);
        font-weight: 400;
        text-align: center;
    }
}


footer{
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


.inner-footer{
    text-align: center;
    color: var(--primary-color);
    font-family: var(--ff-body-poppins);
    font-weight: 400;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0.5);
    width: 12rem;
    margin: 0 auto;
    border-top: 1px white solid;
    border-top-left-radius: 12rem;
    border-top-right-radius: 12rem;
}



@media only screen and (min-width: 600px){    
    .search{
        background-color: rgba(0, 0, 0, 0.5);
        width: 60vw;
        transition: width 500ms ease-in-out, background-color 750ms ease-in-out;    
    }

    .search:hover{
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }

    .weather-results{
        padding: 5%;
        width: 90%;
    }

    .weather-details{
        transition: width 500ms ease-in-out;

        p{
            font-size: 1.1rem;
        }

        .property{
            margin-left: 10%;
        }
    
        .value{
            margin-right: 10%;
        }
    
    }

    .local-time,
    .local-date{
        font-size: 1.25rem;
    }

}

@media only screen and (min-width: 800px){
    header{
        h1{
            font-size: 2.5rem;
        }
    }

    .search{
        width: 50vw;
        background-color: rgba(0, 0, 0, 0.5);
        transition: width 500ms ease-in-out, background-color 750ms ease-in-out;
    }

    .search:hover{
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }

    .weather-results{
        width: 80%;
        transition: width 500ms ease-in-out;
    }

    .weather-details{
        p{
            font-size: 1.15rem;
        }
    }

    .local-time,
    .local-date{
        font-size: 1.35rem;
    }

    .null-input,
    .invalid-location{
        p{
            font-size: 1.15rem;
        }
    }

}

@media only screen and (min-width: 1000px){
    .search{
        width: 40vw;
        background-color: rgba(0, 0, 0, 0.5);
        transition: width 500ms ease-in-out, background-color 750ms ease-in-out;
    }

    .search:hover{
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
    }

    .weather-results{
        width: 70%;
        transition: width 500ms ease-in-out;
    }

    .weather-details{
        p{
            font-size: 1.2rem;
        }
    }

    .null-input,
    .invalid-location{
        p{
            font-size: 1.2rem;
        }
    }

}

@media only screen and (min-width: 1200px){
    .weather-details{
        width: 105%;
        transition: width 500ms ease-in-out;
        p{
            font-size: 1.2rem;
        }
    }

    .weather-results{
        width: 60%;
        transition: width 500ms ease-in-out;
    }
}